# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
references/auth/Gumroad Web 6.png
references/auth/Gumroad Web 335.png
references/auth/Gumroad Web 336.png
references/onboarding/Gumroad Web 1.png
references/onboarding/Gumroad Web 2.png
references/onboarding/Gumroad Web 3.png
references/onboarding/Gumroad Web 4.png
references/onboarding/Gumroad Web 5.png
references/onboarding/Gumroad Web 6.png
references/onboarding/Gumroad Web 7.png
references/onboarding/Gumroad Web 8.png
