* when creating forms, ensure that form input is saved to the provided Postgre DB
* use the existing prisma Next.js routes for the API
* do not restart the server, send instructions to the user and he will restart the server
* when creating payment services, use the Xendit API directly. do not use the Xendit SDK.
* ask the user if you want to read logs since it takes a long time for you to load the logs.
 
DEPLOY TODOS
* update env
* migrate db via prisma
* Update Readme with updated deployment process

NEW PRODUCT WIZARD
1. Add loading to final submit button

PAYMENT OPTIONS
/home/aryeh/dev/alacarte/app/products/new/PaymentOptions.tsx
1. For purchases, the transaction should have as the user id the id of the user who made the purchase.
2. For income, the transaction should have as the user id the id of the user who owns the product bought.

WEBHOOKS
1. implement webhook listeners for purchases to confirm status and update status in db
2. implement webhook listeners for payouts to confirm and update status in db