* save form input to the provided Postgre
* use the existing prisma Next.js routes for the API
* do not restart the server, send instructions to the user and he will restart the server
* do not use the Xendit SDK, use the Xendit API directly
 
 
NEXT STEPS
* Test happy path again
* Update Readme with deployment process


AUTH
/home/aryeh/dev/alacarte/app/products/page.tsx
1.  When a user who is not logged in visits the /products page, redirect them to the login page

PAYMENT OPTIONS
/home/aryeh/dev/alacarte/app/products/new/PaymentOptions.tsx
1. [For QA] Whenever a purchase is made, add an entry into the transactions table
2. [For QA] Whenever a payout is made, add an entry into the transactions table
3. [For QA] Whenever a fee is charged, add an entry into the transactions table

WEBHOOKS
1. implement webhook listeners for purchases to confirm status and update status in db
2. implement webhook listeners for payouts to confirm and update status in db